.Portfolio {
  .portfolio-name {
    font-weight: 800;
    font-size: 1.5em;
  }

  .portfolio-date {
    margin-top: 7px;
  }

  .portfolio-image {
    img {
      margin: 5px;
    }
  }

  .tech {
    font-weight: 800;
  }
}